<h1><%= @todo.name %></h1>
<h2>Complete: <%= @todo.completed %></h2>
<h3>Created <%= @todo.created_at %></h3>
<h3>Updated <%= @todo.updated_at %></h3>

<h4><%= link_to "Edit todo", edit_todo_path(@todo) %></h4>
